* {
  box-sizing: border-box;
}
div.main-container {
  display: flex;
  width: 640px;
  flex-wrap: wrap;
}
div.box {
  width: 40px;
  height: 40px;
  background-color: rgb(0, 174, 255);
  border: 1px solid white;
}

div.box:hover {
  height: 35px;
}

.btn {
  margin-bottom: 10px;
}
