* {
  box-sizing: border-box;
}
div.main-container {
  display: flex;
  width: 1240px;
  flex-wrap: wrap;
}
div.box {
  background-color: rgb(0, 174, 255);
  border: 1px solid white;
}

div.box:hover {
  height: 55px;
}

.btn {
  margin-bottom: 10px;
}
